@media (max-width:1200px) {
    .menu li{
        font-size: 16px !important;
    }

     .theme-btn{
        font-size: 16px !important;
    }
    
}

@media (max-width:600px){
    .title-img{
        display: none;
    }
}